emacs.d/.cask
emacs.d/.savehist
emacs.d/ido.last
emacs.d/network-security.data
emacs.d/semanticdb
emacs.d/smex-items

vim/autoload
vim/plugged

xmonad/xmonad.errors
xmonad/*.hi
xmonad/*.o
xmonad/*.state
xmonad/xmonad-x86_64-linux
